<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cybzacg.blogbackend.mapper.SysAuditLogMapper">
    <resultMap id="BaseResultMap" type="com.cybzacg.blogbackend.domain.SysAuditLog">
        <id column="id" property="id"/>
        <result column="operator_user_id" property="operatorUserId"/>
        <result column="target_user_id" property="targetUserId"/>
        <result column="operation_type" property="operationType"/>
        <result column="target_type_name" property="targetTypeName"/>
        <result column="target_id" property="targetId"/>
        <result column="before_state" property="beforeState"/>
        <result column="after_state" property="afterState"/>
        <result column="mfa_passed" property="mfaPassed"/>
        <result column="request_ip" property="requestIp"/>
        <result column="user_agent" property="userAgent"/>
        <result column="remark" property="remark"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>
</mapper>
