<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cybzacg.blogbackend.mapper.SysNoticeMapper">

    <resultMap id="BaseResultMap" type="com.cybzacg.blogbackend.domain.SysNotice">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="TINYINT"/>
            <result property="level" column="level" jdbcType="VARCHAR"/>
            <result property="targetType" column="target_type" jdbcType="TINYINT"/>
            <result property="targetUserIds" column="target_user_ids" jdbcType="VARCHAR"/>
            <result property="publisherId" column="publisher_id" jdbcType="BIGINT"/>
            <result property="publishStatus" column="publish_status" jdbcType="TINYINT"/>
            <result property="publishTime" column="publish_time" jdbcType="TIMESTAMP"/>
            <result property="revokeTime" column="revoke_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,content,
        type,level,target_type,
        target_user_ids,publisher_id,publish_status,
        publish_time,revoke_time,create_by,
        create_time,update_by,update_time,
        is_deleted
    </sql>
</mapper>
