<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cybzacg.blogbackend.mapper.forum.ForumPostChannelLinkMapper">

    <resultMap id="BaseResultMap" type="com.cybzacg.blogbackend.domain.ForumPostChannelLink">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="forumPostId" column="forum_post_id" jdbcType="BIGINT"/>
        <result property="conversationId" column="conversation_id" jdbcType="BIGINT"/>
        <result property="linkType" column="link_type" jdbcType="VARCHAR"/>
        <result property="linkedBy" column="linked_by" jdbcType="BIGINT"/>
        <result property="linkedAt" column="linked_at" jdbcType="TIMESTAMP"/>
        <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, forum_post_id, conversation_id, link_type, linked_by, linked_at, created_at
    </sql>
</mapper>
