<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cybzacg.blogbackend.mapper.content.SysCollectionMapper">

    <resultMap id="BaseResultMap" type="com.cybzacg.blogbackend.domain.SysCollection">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="folderId" column="folder_id" jdbcType="BIGINT"/>
        <result property="targetId" column="target_id" jdbcType="BIGINT"/>
        <result property="targetType" column="target_type" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="targetTitle" column="target_title" jdbcType="VARCHAR"/>
        <result property="targetUrl" column="target_url" jdbcType="VARCHAR"/>
        <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,user_id,folder_id,
        target_id,target_type,remark,
        target_title,target_url,created_at
    </sql>

    <select id="selectUserCollectionPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_collection
        where user_id = #{userId}
        <if test="folderId != null">
            and folder_id = #{folderId}
        </if>
        <if test="targetType != null and targetType != ''">
            and target_type = #{targetType}
        </if>
        order by created_at desc, id desc
    </select>
</mapper>
