<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cybzacg.blogbackend.dto.mapper.system.SysLogMapper">

    <resultMap id="BaseResultMap" type="com.cybzacg.blogbackend.dto.domain.system.SysLog">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="module" column="module" jdbcType="VARCHAR"/>
        <result property="requestMethod" column="request_method" jdbcType="VARCHAR"/>
        <result property="requestParams" column="request_params" jdbcType="VARCHAR"/>
        <result property="responseContent" column="response_content" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="requestUri" column="request_uri" jdbcType="VARCHAR"/>
        <result property="method" column="method" jdbcType="VARCHAR"/>
        <result property="ip" column="ip" jdbcType="VARCHAR"/>
        <result property="province" column="province" jdbcType="VARCHAR"/>
        <result property="city" column="city" jdbcType="VARCHAR"/>
        <result property="executionTime" column="execution_time" jdbcType="BIGINT"/>
        <result property="browser" column="browser" jdbcType="VARCHAR"/>
        <result property="browserVersion" column="browser_version" jdbcType="VARCHAR"/>
        <result property="os" column="os" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,module,request_method,
        request_params,response_content,content,
        request_uri,method,ip,
        province,city,execution_time,
        browser,browser_version,os,
        create_by,create_time
    </sql>
</mapper>
